<main>
    <section class="about">
        <h1>About Me</h1>
        <p>
           Software Engineer at <a href="http://www.wine.com">Wine.com</a> working on ASP.NET and NodeJS platforms to provide the best online wine buying experience possible. I have expertise in:
        </p>
        <ul class="skills">
            <li>C# / ASP.NET WebForms and MVC</li>
            <li>MS SQL Server</li>
            <li>Javascript</li>
            <li>CSS / LESS / SASS</li>
            <li>HTML for Email</li>
            <li>Shell</li>
            <li>Parallelizable Services</li>
        </ul>
        <h2> Business Interests</h2>
        <p>
            I am very interested in the business side of E-Commerce, and enjoy thinking about recommendations engines, checkout flow, prospect capture mechanisms, and life cycle emails. I have worked extensively on email solutions for transactional, trigger, and marketing blast emails. 
        </p>
        <p>    
            I enjoy keeping up with the latest web technologies and am very excited for the new features coming to EcmaScript6. The new <a href="http://rust-lang.org">Rust Programming Language</a> is also of great interest to me and I feel that in 3-5 years it will be one of the more popular languages used by businesses and researchers alike.   
        </p>
        <p>
            This website is intended to be a personal space to share my personal projects and learning. I am not currently looking for new employment opportunities but should the need arise, I will be sure to post what I am looking for on this site.  
        </p>
    </section>
    <section class="blogFeed">
        <h1>Latest Blog Entries</h1>
    </section>
</main>
