@import url(http://fonts.googleapis.com/css?family=Palanquin:200,600);

@primary: #1E90FF;

@import "chrome.less";
@import "index.less";

body {
    padding: 0px;
    margin: 0px;
    font: 14px 'Palanquin', sans-serif;
}

a, a:visited {
    color: @primary;
    text-decoration:none;
}



