body {
    padding: 0px;
    margin:0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

header {
    width:100%;
    background-color:#f1f1f1;
    h1 {
        padding:0px;
        margin:0px;
    }
    
    ul {
        
    }
    li {
        display:inline;
        list-style:none;
    }
    
    
}
